<ion-header>
  <ion-toolbar color="primary"  mode="md">
    <ion-title>Contato e suporte</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/home" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    <b>Horário de atendimento</b> <br>
    9h00 às 19h00 <br>
    Segunda à sexta-feira
  </p>

  <p>
    <b>E-mail para contato</b> <br>
    {{ email }}
  </p>

  <form [formGroup]="formData" (ngSubmit)="send()">

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Assunto</ion-label>
      <ion-select formControlName="subjectId" interface="action-sheet" okText="Ok" cancelText="Cancelar" placeholder="Escolha uma opção">
        <ion-select-option *ngFor="let subject of subjects" [value]="subject.id">
          {{ subject.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Mensagem</ion-label>
      <ion-textarea formControlName="message"></ion-textarea>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="!formData.valid">
      Enviar contato
    </ion-button>

  </form>

</ion-content>
