<ion-header>
  <ion-toolbar color="primary" mode="md">
    <ion-title>Recuperar senha</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/sign-in" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="ion-text-center">
    Digite seu e-mail a seguir para receber as instruções de recuperação de senha de acesso ao sistema.
  </p>

  <form [formGroup]="formData" (ngSubmit)="recoveryIt()">
    <ion-item class="ion-no-padding">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Digite o e-mail do seu cadastro"></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      class="ion-margin-top"
      type="submit"
      size="default"
      [disabled]="!formData.valid">
      Enviar
    </ion-button>
  </form>

</ion-content>
